version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: streamflix_api
    ports:
      - "5001:5001"
    depends_on:
      - db
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      POSTGRES_USER: postgres
      POSTGRES_PASSOWRD: postgres
      POSTGRES_DB: streamflixdb

  client:
    build:
      context: .
      dockerfile: client.Dockerfile
    container_name: streamflix_client
    ports:
      - "5173:5173"
    volumes:
      - ./client/client-app:/app
      - /app/node_modules
    depends_on:
      - api

  db:
    image: postgres:16-alpine
    container_name: streamflix_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSOWRD: postgres
      POSTGRES_DB: streamflixdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: streamflix_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  db_data:
  pgadmin_data:
