version: "3.9"

services:
  api:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: streamflix_api
    ports:
      - "5001:8080"
    depends_on:
      - db
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    env_file:
      - .env

  db:
    image: postgres:16-alpine
    container_name: streamflix_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
