version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: streamflix_api
    ports:
      - "5001:5001"
    depends_on:
      - db
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:5001
      ConnectionStrings__Default: Host=db;Port=5432;Database=streamflixdb;Username=postgres;Password=postgres
    env_file:
      - .env

  db:
    image: postgres:16-alpine
    container_name: streamflix_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: streamflix_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  db_data:
  pgadmin_data:
